:root {
    --primary: #F07735;
    --bgPrimary: #231F20;
    --gray: #9E9E9E;
}

.chip {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}

.chipActive {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    cursor: pointer;
}

.genreSelect {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: #f076352b;
    transition: 300ms;
    cursor: pointer;
    border: none;
}

.primaryButton {
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.primaryButton:hover {
    background-color: white;
    color: var(--primary);
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.similarCol {
    width: 450px;
}

.smallCard {
    aspect-ratio: 1/1;
    height: auto;
}

.primaryButtonSubmit {
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5000px;
    font-weight: 700;
}

.primaryButtonSubmit:hover {
    background-color: white;
    color: var(--primary);
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5000px;
    font-weight: 700;
}

label {
    font-weight: bold;
}

.imageAspectRatioEqual {
    aspect-ratio: 1/1 !important;
}

.sideBarHover {
    width: 30px;
    transition: 300ms;
    opacity: 0;

}


.sideBarHoverEnabled {
    width: 56px !important;
    transition: 300ms;
    opacity: 1;
}

.sideBarToolActive {
    width: 30px;
    opacity: 1;
    transition: 300ms;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20% !important;
    position: fixed;
}

.sideBarTool {
    width: 55px;
    opacity: 0;
    transition: 300ms;
    position: absolute;
}

.modalHeight {
    height: 600px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgb(238, 236, 234);

}


.popupOverlay {
    background-color: rgba(0, 0, 0, 0.132);
    opacity: 0;
    visibility: hidden;
    transition-duration: 300ms;
}

.popupOverlayActive {
    background-color: rgba(0, 0, 0, 0.122);
    opacity: 1;
    transition-duration: 300ms;
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100vh);
    width: 542px;
    background: white;
    min-height: 200px;
    transition: 300ms;
}

.popUpActive {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 542px;
    background: white;
    min-height: 200px;
    transition: 300ms;
    z-index: 9999;
    border-radius: 12px;
    padding-bottom: 20px;
}

.ellipse1 {
    /* Ellipse 1 */
    position: absolute;
    width: 414px;
    height: 414px;
    right: -30%;
    top: -20%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 148, 97, 0.3) 0%, rgba(241, 118, 52, 0) 100%);



}

.ellipse2 {
    /* Ellipse 2 */


    position: absolute;
    width: 541px;
    height: 541px;
    left: -30%;
    bottom: -20%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 148, 97, 0.3) 0%, rgba(241, 118, 52, 0) 100%);
}