:root {
    --primary: #F07735;
    --bgPrimary: #231F20;
    --gray: #9E9E9E;
}

.chip {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}

.chipActive {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    cursor: pointer;
}

.genreSelect {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    background-color: #f076352b;
    transition: 300ms;
    cursor: pointer;
    border: none;
}

.primaryButton {
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.primaryButton:hover {
    background-color: white;
    color: var(--primary);
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.similarCol {
    width: 450px;
}

.smallCard {
    aspect-ratio: 1/1;
    height: auto;
}

.primaryButtonSubmit {
    background-color: var(--primary);
    color: white;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5000px;
    font-weight: 700;
}

.primaryButtonSubmit:hover {
    background-color: white;
    color: var(--primary);
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    border-radius: 5000px;
    font-weight: 700;
}

label{
    font-weight: bold;
}