@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.css";
@import "./components.css";
@import "./profiledropdown.css";
@import "./wizard.css";
@import "./switch.css";
@import "./beatpack.css";

:root {
    --primary: #F07735;
    --bgPrimary: #231F20;
    --gray: #9E9E9E;
}

.modalWidth{
    width: 500px;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #F0F2F3;

}

.borderRadiusComponents {
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.textInput {
    border: 0px;
    border-radius: 5px;
    transition: 300ms;
    padding: 10px 20px 10px 20px;
    background-color: #f0763517;
    transition: 300ms;
}

input:focus {
    outline: 2px solid var(--primary) !important;
    outline-offset: -2px;
    transition: 300ms;
}
.iconColorActive {
    color: var(--primary);
    cursor:pointer;
    transition: 300ms;

}

.iconColorInactive {
    color: var(--gray);
    cursor:pointer;
    transition: 300ms;

}
.iconColorInactive:hover {
    color: var(--primary);
    transition: 300ms;

}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.34);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.34);
}

.bigCard {
    border-radius: 12px;
    transition: 300ms;

}

@media (max-width: 767.98px){
    .bigCard {
     aspect-ratio: 1/1;
    
    }
}

.bigCard:hover {
    cursor: pointer;
    transition: 300ms;
    transform: scale(1.008);
}

.sideBarIcon {
    transition: 300ms;
    cursor: pointer;
    color: var(--primary);
    background-color: #f0763521;

}

.sideBarIconInActive {
    transition: 300ms;
    cursor: pointer;
    color: var(--bgPrimary);

}

.sideBarIcon:hover {
    transition: 300ms;
    transform: scale(1.01);
    cursor: pointer;

}

.sideBarIconInActive:hover {
    color: var(--primary);
    background-color: #f0763521;
    transition: 300ms;
    transform: scale(1.01);
    cursor: pointer;
}


.whiteHeading{
    color: white;
    font-size:52px;
    line-height: 50px;
    font-weight: 700;
}


/*ANIMATION TRANSITION*/
.fade-enter {
    opacity: 0;
    transform: translate(0, 50px);
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }
  .fade-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: translate(0, 50px);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }
  