:root {
    --primary: #F07735;
    --bgPrimary: #231F20;
    --gray: #9E9E9E;
}


.wizardWrapper {
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

.wizardInfoScreen {
    min-height: 100%;
    /* From https://css.glass */
    background: rgba(241, 241, 241, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
}

.wizardInfoUnderneath {
    background: rgb(240, 119, 53);
    background: radial-gradient(circle, rgb(241, 101, 25) 0%, rgb(240, 166, 125) 50%);
    min-height: 100%;
}

.signupText {
    color: white;
    font-size: 18px
}

.titleText {
    color: black;
    font-size: 42px;
    font-weight: bold;
}

.inputFieldText {
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border: 1px var(--gray) solid;
    background-color: #fcfcfc;
    width: 100%;
}